.banner {
  background-image: url("../img/bg-header.jpg");
}

.laptop {
  background-image: url("../img/employer-review.gif");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 30rem;
  width: 86rem;
  position: absolute;
  right: 0%;
  background-size: contain;
  top: 0;
  bottom: 0;
}
.gear {
  background-image: url("../img/employer-review-cog.gif");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 30rem;
  width: 86rem;
  position: absolute;
  right: 0%;
  background-size: contain;
  top: 0;
  bottom: 0;
}
.people {
  background-image: url("../img/employer-review-people.gif");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 30rem;
  width: 86rem;
  position: absolute;
  right: 0%;
  background-size: contain;
  top: 0;
  bottom: 0;
}

.profile-img {
  position: absolute;
  width: 13rem;
  height: 13rem;
  border: 6px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  right: 0;
  top: -70px;
}
.rate-img {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 15px;
  display: inline-block;
  transition: 0.2s;
}
.rate-img:hover {
  box-shadow: 0px 0px 10px 0px #ff8100;
}
.sub-card-img {
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  margin: 30px 0;
  display: inline-block;
  transition: 0.2s;
}
.profile-img img,
.rate-img img,
.sub-card-img img {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  height: 100%;
  width: auto !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: inherit !important;
}
.info-profile {
  display: inline-block;
  width: 23%;
  position: relative;
}
.info-content {
  width: 75%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 20px;
}
.info-content h1 {
  font-size: 35px;
  font-weight: 500;
  color: #3c3c3c;
}
.info-content p {
  font-size: 17px;
  margin-bottom: 10px;
}
.info-content p i {
  margin-right: 8px;
}
.icon {
  position: absolute;
  right: 12px;
  top: 80px;
  background: #dcdbd9;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 10px;
  color: #4e4e4e;
  transition: 0.2s;
  line-height: 0;
}
.icon:hover {
  background: #60a5fa;
  color: #ffffff;
  opacity: 1 !important;
}
.icon.icon-pen {
  top: 20px;
  right: 90px;
}
.icon.icon-banner {
  border: 0;
  top: 90px;
  right: 90px;
  opacity: 0.5;
  font-size: 25px;
  padding: 9px;
}
.big-tab-card {
  background: #f8fdff;
  margin-top: 35px;
}
.tab-card-header {
  background: #fff;
  box-shadow: 0px 4px 5px 0px #ebf0f2;
}
.tab-menus {
  width: 100%;
  text-align: center;
}
.tab-menus li {
  display: inline-block;
  padding: 10px 25px;
  /*box-shadow: 0px 0px 0px 2px #eff4f6;*/
  margin: 0 3px;
  border-radius: 20px 20px 0 0;
  background: #fff;
  color: #3c3c3c;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}

.tab-menus li:first-child {
  margin-right: 300px;
}
.tab-menus li.active,
.tab-menus li:hover {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #23b2b7;
}
.tab-card-body {
  padding: 3rem 8rem;
}
.sub-card {
  background: #fff;
  box-shadow: 0px 0px 7px 5px #eaeaea;
  padding: 25px 0px 15px 0px;
  text-align: center;
  margin: 40px;
}
.sub-card-header h1 {
  font-size: 27px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
}
.sub-card-header h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 3px;
  background: #6bcbef;
  bottom: 0;
  left: calc(50% - 10px);
}
.sub-card-body {
  padding: 30px 20px 20px 20px;
}
.sub-card-body h4 {
  font-weight: 600;
  font-size: 20px;
}
.sub-card-footer {
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.sub-card-footer2 {
  border-top: 1px solid #eee;
  width: 80%;
  margin: 0px auto;
}
.sub-card-footer a {
  color: #00a0dc;
  font-size: 13px;
  font-weight: 600;
  transition: 0.2s;
}
.sub-card-footer a:hover {
  color: #035371;
}
.rate-by-smile {
  padding: 25px;
  margin: 25px 0 10px 0;
}
.footer {
  background: url("../img/footer-img.png");
  padding: 20px 270px;
  color: #fff;
  font-size: 18px;
}

.rate-img-color {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: visible;
  margin: 0px;
  display: inline-block;
  transition: 0.2s;
}
.files {
  margin: 15px 10px;
  text-align: center;
  width: 12rem;
  padding: 0.01rem 0;
  background: #3797ff;
  color: #ffffff;
  position: relative;
}
.files p {
  vertical-align: middle;
  font-family: "Lato";
  font-size: 21px;
}
.files::after {
  content: "";
  display: block;
  position: absolute;
  border-color: transparent #3797ff;
  border-style: solid;
  border-width: 20px 0px 11px 30px;
  top: 0;
  left: 100%;
}

.account-settings {
  margin: 7px 0px 7px 0px;
  text-align: center;
  width: 13rem;
  padding: 7px 10px 10px 30px;
  background: #3797ff;
  color: #ffffff;
  position: relative;
}
.account-settings p {
  vertical-align: middle;
  font-family: "Lato";
  font-size: 21px;
}
.account-settings::after {
  content: "";
  display: block;
  position: absolute;
  border-color: transparent #3797ff;
  border-style: solid;
  border-width: 23px 0px 18px 23px;
  top: 0;
  left: 100%;
}
/*security login*/
.secure-login {
  margin: 15px 10px;
  text-align: center;
  width: 12rem;
  padding: 0.01rem 0;
  background: #3797ff;
  color: #ffffff;
  position: relative;
}
.secure-login p {
  vertical-align: middle;
  font-family: "Lato";
  font-size: 16px;
}
.secure-login::after {
  content: "";
  display: block;
  position: absolute;
  border-color: transparent #3797ff;
  border-style: solid;
  border-width: 30px 0px 27px 50px;
  top: 0;
  left: 100%;
}

.grad {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to left top,
    #27b3e7,
    #2fb8ea,
    #37bdec,
    #3ec1ef,
    #45c6f1,
    #47c7f2,
    #48c9f2,
    #4acaf3,
    #47c8f2,
    #43c6f2,
    #40c4f1,
    #3cc2f0
  );
}

.leftbg {
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: ;
  background-repeat: no-repeat;
  background-position: right;
  right: 0px;
}
.image-overlay {
  background-image: url("/img/employer_review_page_shape.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 30rem;
  width: 86rem;
  position: absolute;
  right: 0;
  background-size: contain;
  bottom: 0;
}

/* scroll-y with style*/
.overflow-y-scroll {
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 25px;
  width: 100%;
  background: none;
  padding: 10px;
}

.force-overflow {
  min-height: 450px;
}

.overflow-y-scroll::-webkit-scrollbar-track {
  border: 1px solid #fff;
  padding: 2px 0;
  background-color: #e7e7e7;
}

.overflow-y-scroll::-webkit-scrollbar {
  width: 7px;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #7fbae7;
}

.all-goals {
  text-align: center;
  width: 16rem;
  padding: 0.01rem 0;
  background: #3797ff;
  color: #ffffff;
  position: relative;
}

.all-goals::after {
  content: "";
  display: block;
  position: absolute;
  border-color: transparent #3797ff;
  border-style: solid;
  border-width: 20px 0px 12px 30px;
  top: 0;
  left: 100%;
}
/*end scroll-y with style*/
.dropdown:hover .dropdown-menu {
  display: block;
}

/*adding styles daryl*/
p.experience::after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #6bcbef;
  bottom: 0;
  left: calc(50% - 10px);
}

/* achievements */
@import url(https://fonts.googleapis.com/css?family=Lato:700);

// -- vars
$bg-color: #34495e;
$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;

// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}
/*flex */

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.flex-item-left {
  padding: 0px;
  flex: 50%;
}

.flex-item-right {
  flex: 90%;
}
/*end flex*/

/* tab accordion*/
/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */

/*
   .tab input:checked + label{
   
  font-size: 1.25rem; 
   padding: 1.25rem; 
   border-left-width: 2px; 
   border-color: #6574cd; 
   background-color: #f8fafc; 
   color: #6574cd; 
   }
   */

/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}
/* Icon formatting - closed */

.tab input[type="radio"] + label::after {
  content: "\25BE";
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type="checkbox"]:checked + label::after {
  transform: rotate(315deg);
  background-color: #6574cd; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}
.tab input[type="radio"]:checked + label::after {
  transform: rotateX(180deg);
  background-color: #6574cd; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}
/*my tabs menu*/
ul#my-tabs-menu {
  font-weight: bold;
  position: fixed;
  width: 100%;
  transition: 0.2s;
}
/*end tab accordion*/
@mixin draw-progress--solid($progress, $color, $bg-color) {
  background: linear-gradient(to right, $color 50%, $bg-color 50%);

  &:before {
    @if $progress <= 50 {
      background: $bg-color;
      transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
    } @else {
      background: $color;
      transform: rotate((100 - $progress) / 100 * 360deg);
    }
  }
}

// -- selectors
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f1;
  color: #444;
  font-family: "Lato", Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 10px;
}

.set-size {
  font-size: 10em;
}

.charts-container {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.pie-wrapper {
  @include size($default-size, $default-size);
  float: left;
  margin: 15px;
  position: relative;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    bottom: $label-font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: $label-font-size-redo / 10;
    line-height: $label-font-size-redo * 0.7;
    position: absolute;
    right: $label-font-size-redo / 10;
    text-align: center;
    top: $label-font-size-redo / 10;

    .smaller {
      color: #bdc3c7;
      font-size: 0.45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    @include size(100%, 100%);
    border: $default-size / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }

  &.progress-30 {
    @include draw-progress(30, #3498db);
  }

  &.progress-60 {
    @include draw-progress(60, #9b59b6);
  }

  &.progress-90 {
    @include draw-progress(90, #e67e22);
  }

  &.progress-45 {
    @include draw-progress(45, #1abc9c);
  }

  &.progress-75 {
    @include draw-progress(75, #8e44ad);
  }

  &.progress-95 {
    @include draw-progress(95, #e74c3c);
  }
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;

  &:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
  }

  .label {
    background: transparent;
  }

  &.progress-65 {
    @include draw-progress--solid(65, #e67e22, $bg-color);
  }

  &.progress-25 {
    @include draw-progress--solid(25, #9b59b6, $bg-color);
  }

  &.progress-88 {
    @include draw-progress--solid(88, #3498db, $bg-color);
  }
}
/*pop up*/
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: gray;
  background: #e3f2f9;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  float: right;
}
/*
.myDIV:hover + .hide::after{ 
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #e3f2f9 transparent transparent transparent;
  
}
*/
/*end pop up*/

/*switch toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 8px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end switch toggle*/

/*tab-menus*/

/* RESPONSIVE */
@media only screen and (max-width: 1440px) {
  .tab-card-body {
    padding: 3rem 4rem;
  }
  .sub-card {
    margin: 10px 15px 40px 15px;
  }
}
@media only screen and (max-width: 991px) {
  .info-profile {
    display: block;
    width: 100%;
  }
  .info-content {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 100px;
  }
  .profile-img {
    top: -115px;
    left: 0;
  }
  .icon {
    right: -145px;
    top: 40px;
    left: 0;
    margin: 0 auto;
    width: 40px;
  }
  .icon.icon-banner {
    top: 90px;
    right: 0;
    margin-right: 20px;
    width: auto;
    left: auto;
  }
  .icon.icon-pen {
    top: 70px;
    right: 0;
    margin-right: 30px;
  }
}
/* screen maximum 676 px*/
@media only screen and (max-width: 767px) {
  .tab-card-body {
    padding: 0px;
  }
  .footer {
    padding: 15px;
    font-size: 15px;
    text-align: center;
  }
  .profile-img {
    top: -55px;
    width: 10rem;
    height: 10rem;
  }
  .info-content h1 {
    font-size: 30px;
    font-weight: 500;
    color: #3c3c3c;
  }
  .info-content p {
    font-size: 15px;
  }
  .rate-img {
    width: 60px;
    height: 60px;
    margin: 0 5px;
  }
  .laptop {
    display: none;
  }
  .image-overlay {
    display: none;
  }
  .w-1\/2.p-8.m-20.bg-white.border-2.border-blue-400 {
    width: 650px;
    padding: 5px;
    margin: 60px 0px 0px 0px;
  }
  .flex-container {
    flex-direction: column;
  }
  .tab-menus li {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .rate-img {
    width: 35px;
    height: 35px;
    margin: 0 5px;
  }
  .rate-by-smile {
    padding: 0;
  }
  .banner {
    margin: 0 !important;
  }
  .w-1\/2.p-8.m-20.bg-white.border-2.border-blue-400 {
    width: 425px;
    padding: 5px;
    margin: 50px 0px 0px 0px;
  }
  .laptop {
    display: none;
  }
  .image-overlay {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .tab-card-body {
    /*padding: 0rem 0rem;*/
    padding: 0px;
  }
}
