.banner {
    background-image: url('../img/bg-header.jpg');
}
.profile-img {
    position: absolute;
    width: 13rem;
    height: 13rem;
    border: 6px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    right: 0;
    top: -70px;
}
.rate-img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 15px;
    display: inline-block;
    transition: .2s;
}
.rate-img:hover {
    box-shadow: 0px 0px 10px 0px #ff8100;
}
.sub-card-img {
    position: relative;
    width: 100%;
    height: 10rem;
    overflow: hidden;
    margin: 30px 0;
    display: inline-block;
    transition: .2s;
}
.profile-img img,
.rate-img img,
.sub-card-img img  {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: inherit !important;
}
.info-profile {
    display: inline-block;
    width: 23%;
    position: relative;
}
.info-content {
    width: 75%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
}
.info-content h1 {
    font-size: 35px;
    font-weight: 500;
    color: #3c3c3c;
}
.info-content p {
    font-size: 17px;
    margin-bottom: 10px;
}
.info-content p i {
    margin-right: 8px;
}
.icon {
    position: absolute;
    right: 12px;
    top: 80px;
    background: #dcdbd9;
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    color: #4e4e4e;
    transition: .2s;
    line-height: 0;
}
.icon:hover {
    background: #60a5fa;
    color: #ffffff;
    opacity: 1 !important;
}
.icon.icon-pen {
    top: 20px;
    right: 90px;
}
.icon.icon-banner {
    border: 0;
    top: 90px;
    right: 90px;
    opacity: .5;
    font-size: 25px;
    padding: 9px;
}
.big-tab-card {
    background: #ebf0f2;
    margin-top: 35px;
}
.tab-card-header {
    background: #fff;
    box-shadow: 0px 4px 5px 0px #ebf0f2;
}
.tab-menus {
    width: 100%;
    text-align: center;
}
.tab-menus li {
    display: inline-block;
    padding: 10px 25px;
    box-shadow: 0px 0px 0px 2px #eff4f6;
    margin: 0 3px;
    border-radius: 20px 20px 0 0;
    background: #fff;
    color: #3c3c3c;
    font-weight: 500;
    transition: .2s;
    cursor: pointer;
}
.tab-menus li.active, .tab-menus li:hover{
    background: #ebf0f2;
}
.tab-card-body {
    padding: 3rem 8rem;
}
.sub-card {
    background: #fff;
    box-shadow: 0px 0px 7px 5px #eaeaea;
    padding: 25px 0px 15px 0px;
    text-align: center;
    margin: 10px 25px 40px 25px;
}
.sub-card-header h1 {
    font-size: 27px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
}
.sub-card-header h1::after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: #6bcbef;
    bottom: 0;
    left: calc(50% - 10px);
}
.sub-card-body {
    padding: 30px 20px 20px 20px;
}
.sub-card-body h4 {
    font-weight: 600;
    font-size: 20px;
}
.sub-card-footer {
    border-top: 1px solid #eee;
    padding-top: 15px;
}
.sub-card-footer a {
    color: #00a0dc;
    font-size: 13px;
    font-weight: 600;
    transition: .2s;
}
.sub-card-footer a:hover {
    color: #035371;
}
.rate-by-smile {
    padding: 25px;
    margin: 25px 0 10px 0;
}
.footer {
    background: url('../img/footer-img.png');
    padding: 20px 270px;
    color: #fff;
    font-size: 18px;
}

